{% extends 'base.html' %}
{% block content %}
    <h2>Aktualny stan magazynowy materiałów wyjściowych:</h2>
    <br>
    <table>
        <thead>
            <tr>
                <th>Nazwa materiału</th>
                <th>Data dostawy</th>
                <th>Nr serii producenta</th>
                <th>Nr magazynowy</th>
                <th>Data badań lab.</th>
                <th>Nr po badaniach lab.</th>
                <th>Aktualnie na stanie</th>
                <th>Jednostka</th>
                <th>Termin przydatności</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
            <tr>
                <td>{{ entry.component }}</td>
                <td>{{ entry.delivery_date }}</td>
                <td>{{ entry.supplier_series_number }}</td>
                <td>{{ entry.warehouse_series_number }}</td>
                <td>{{ entry.laboratory_series_date }}</td>
                <td>{{ entry.laboratory_series_number }}</td>
                <td>{{ entry.series_amount }}</td>
                <td>{{ entry.component.measure }}</td>
                <td>{{ entry.use_by_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}