<!doctype html>
    <html>
        <head>
            <meta charset="utf-8">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
        </head>
        <body style="background-color: {{ color }}">
            <h1>Gospodarka magazynowa</h1>
            {% block content %}{% endblock %}
        <br><br>

            <ul>Menu:
                <li><a href="/stock-level/">Stan magazynowy</a></li>
                <ul>
                    <li><a href="/all-entries-view/">Szczegółowe zestawienie dostaw</a></li>
                    <li><a href="/add-warehouse-entry/">Wprowadź nową dostawę materiału</a></li>
                </ul>
                <li><a href="/components/">Lista materiałów wyjściowych</a></li>
                <ul>
                    <li><a href="/add-component/">Dodaj materiał wyjściowy</a></li>
                </ul>
                <li><a href="/suppliers/">Lista dostawców</a></li>
                <ul>
                    <li><a href="/add-supplier/">Dodaj dostawcę</a></li>
                </ul>

            </ul>


            <footer>Witaj</footer>
        </body>
    </html>