<!doctype html>
    <html>
        <head>
            <meta charset="utf-8">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
        </head>
        <body style="background-color: {{ color }}">
            <h1>Gospodarka magazynowa</h1>
            {% block content %}{% endblock %}
        <br><br>

            <ul>Menu:
                <li><a href="../stock-level/">Stan magazynowy</a></li>
                <li><a href="../components/">Lista materiałów wyjściowych</a></li>
                <li><a href="../suppliers/">Lista dostawców</a></li>
            </ul>


            <footer>Witaj</footer>
        </body>
    </html>