{% extends 'base.html' %}
{% block content %}
    <h2>Wydanie materiału z magazynu</h2>

    <div>Substancja: <strong>{{ entry.component }}</strong></div>
    <div>Dostawca: <strong>{{ entry.supplier }}</strong></div>
    <div>Numer serii dostawcy: <strong>{{ entry.supplier_series_number }}</strong></div>
    <div>Numer magazynowy: <strong>{{ entry.warehouse_series_number }}</strong></div>
    <div>Ilość na stanie: <strong>{{ entry.series_amount }}</strong></div>


    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Uaktualnij dane">
    </form>

{% endblock %}